<div class="container-fluid">
  <%= render partial: "shared/navigation" %>

    <div class="for_non_mobile">
      <div class="row">
        <div class="col-md-12 latest-er">
         <h3>  Rey's Latest Employment Record</h3>
          <table class="table table-bordered">
            <tr>
              <th>Vessel</th> 
              <th>Flag</th>
              <th>Type</th>
              <th>Manning Agent</th>
              <th>Rank</th>
              <th>Sign On</th>
              <th>Sign Off</th>
              <th>Reason of Disemabarkation</th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>  
      </div>
    </div>

    <div class="for_mobile">
      <div class="row">
        <div class="col-md-12 latest-er">
         <h3>  Rey's Latest Employment Record</h3>
          <table class="table table-bordered">
            <tr>
              <th>Vessel</th> 
              <td></td>
            </tr>
            <tr>
              <th>Flag</th>
              <td></td>
            </tr>
            <tr>
              <th>Type</th>
              <td></td>
            </tr>
            <tr>
              <th>Manning Agent</th>
              <td></td>
            </tr>
            <tr>
              <th>Rank</th>
              <td></td>
            </tr>
            <tr>
              <th>Sign On</th>
              <td></td>
            </tr>
            <tr>
              <th>Sign Off</th>
              <td></td>
            </tr>
            <tr>
              <th>Reason of Disemabarkation</th>
              <td></td>
            </tr>
          </table>
        </div>  
      </div>
    </div>
</div>