<div class="container-fluid">
  <%= render partial: "shared/navigation" %>
<div class="for_non_mobile">
  <div class="row">
    <div class="col-md-3 image-profile">
      <center>
       <%= image_tag "sample.jpg" %> <br />
       <span class="name">Reynaldo Logmao</span><br /> <span>STATUS</span>
      </center>
    </div>
    <div class="col-md-9 details-profile infiniscroll">
      <h4>GENERAL INFORMATION</h4>
      <table class="table-prof" style="width: 100%;">
        <tr>
         <th>Vessel Assign: </th>
         <td>Basha </td>

         <th>Age: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Home Address: </th>
         <td> Basha </td>

         <th>City Address: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Provincial Address: </th>
         <td> Basha </td>
         <th>Zipcode: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Birthday: </th>
         <td>Basha </td>
         <th>Birthplace: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Telephone: </th>
         <td>Basha </td>
         <th>Cellphone: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Civil Status: </th>
         <td>Basha </td>
         <th>Nationality: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Height: </th>
         <td>Basha </td>
         <th>Weight: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Shoe Color: </th>
         <td>Basha </td>
         <th>Cloth Size: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Eye Color: </th>
         <td>Basha </td>
         <th>Distinguishing Mark: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Blood Type: </th>
         <td>Basha </td>
         <th>Blood Pressure: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>TIN Number: </th>
         <td>Basha </td>
         <th>SSS Number: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>PAG-IBIG number: </th>
         <td>Basha </td>
         <th>Philhealth: </th>
         <td>Basha </td>
        </tr>

       <tr>
         <th>Father's Name: </th>
         <td>Basha </td>
         <th>Mother's Maiden Name: </th>
         <td>Basha </td>
      </tr>

      <tr>
         <th>Spouse Name: </th>
         <td>Basha </td>
         <th>Number of Children: </th>
         <td>Basha </td>
      </tr>

       <tr>
         <th>Are you a smoker? </th>
         <td>Basha </td>
         <th>Nearest Relative: </th>
         <td>Basha </td>
      </tr>

       <tr>
         <th>Relationship: </th>
         <td>Basha </td>
         <th>Address: </th>
         <td>Basha </td>
       </tr>
      </table>

      <h4>EDUCATIONAL ATTAINMENT</h4>
      <table class="table table-bordered" style="width: 100%;">
         <tr>
          <th>Year</th>
          <th>School</th>
          <th>Course Finished</th>
         </tr>

         <tr>
          <td>Year</td>
          <td>School</td>
          <td>Course Finished</td>
         </tr>
      </table>

      <h4>LICENSES</h4>
      <table class="table table-bordered" style="width: 100%;">
         <tr>
          <th>Type</th>
          <th>Number</th>
          <th>Date Issued</th>
          <th>Expiry Date</th>
          <th>Issued By</th>
          <th>Actions</th>
         </tr>

         <tr>
          <td>Year</td>
          <td>School</td>
          <td>Course Finished</td>
          <td>Year</td>
          <td>School</td>
          <td>Course Finished</td>
         </tr>
      </table>

      <h4>CERTIFICATES</h4>
      <table class="table table-bordered" style="width: 100%;">
         <tr>
          <th>Type</th>
          <th>Number</th>
          <th>Date Issued</th>
          <th>Expiry Date</th>
          <th>Issued By</th>
          <th>Actions</th>
         </tr>

         <tr>
          <td>Year</td>
          <td>School</td>
          <td>Course Finished</td>
          <td>Year</td>
          <td>School</td>
          <td>Course Finished</td>
         </tr>
      </table>

      <h4>PERSONAL DOCUMENTS</h4>
      <table class="table table-bordered" style="width: 100%;">
         <tr>
          <th>Document Kind</th>
          <th>Number</th>
          <th>Date Issued</th>
          <th>Expiry Date</th>
          <th>Issued By</th>
          <th>Actions</th>
         </tr>

         <tr>
          <td>Year</td>
          <td>School</td>
          <td>Course Finished</td>
          <td>Year</td>
          <td>School</td>
          <td>Course Finished</td>
         </tr>
      </table>


      <h4>EMPLOYMENT RECORDS</h4>
      <table class="table table-bordered" style="width: 100%;">
         <tr>
          <th>Vessel</th>
          <th>Flag</th>
          <th>Type</th>
          <th>Manning Agent</th>
          <th>Rank</th>
          <th>Sign On</th>
          <th>Sign Off</th>
          <th>Reason of Disembarkation</th>
         </tr>

         <tr>
          <td>Year</td>
          <td>School</td>
          <td>Course Finished</td>
          <td>Year</td>
          <td>School</td>
          <td>Course Finished</td>
          <td>Course Finished</td>
          <td>Course Finished</td>
         </tr>
      </table>

      <h4>VESSEL EVALUATION</h4>
      <table class="table table-bordered" style="width: 100%;">
         <tr>
          <th>Vessel</th>
          <th>Date of Evaluation</th>
          <th>Actions</th>
          
         </tr>

         <tr>
          <td>Year</td>
          <td>School</td>
          <td>Course Finished</td>
         </tr>
      </table>

      <h4>OFFICE EVALUATION</h4>
      <table class="table table-bordered" style="width: 100%;">
         <tr>
          <th>Vessel</th>
          <th>Date of Evaluation</th>
          <th>Actions</th>
          
         </tr>

         <tr>
          <td>Year</td>
          <td>School</td>
          <td>Course Finished</td>
         </tr>
      </table>
    </div>
  </div>
</div>

<div class="for_mobile">
  <div class="row">
    <div class="col-md-3 image-profile">
      <center>
       <%= image_tag "sample.jpg" %> <br />
       <span class="name">Reynaldo Logmao</span><br /> <span>STATUS</span>
      </center>
    </div>
    <div class="col-md-9 details-profile infiniscroll">
      <h4>GENERAL INFORMATION</h4>
      <table class="table-prof-mobile" style="width: 100%;">
        <tr>
         <th>Vessel Assign: </th>
         <td>Basha Marshal Alampay </td>
        </tr>
        <tr>
         <th>Age: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Home Address: </th>
         <td> Basha </td>
        </tr>
        <tr>
         <th>City Address: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Provincial Address: </th>
         <td> Basha </td>
        </tr>
        <tr>
         <th>Zipcode: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Birthday: </th>
         <td>Basha </td>
        </tr>
        <tr>
         <th>Birthplace: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Telephone: </th>
         <td>Basha </td>
        </tr>
        <tr>
         <th>Cellphone: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Civil Status: </th>
         <td>Basha </td>
        </tr>
        <tr>
         <th>Nationality: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Height: </th>
         <td>Basha </td>
        </tr>
        <tr>
         <th>Weight: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Shoe Color: </th>
         <td>Basha </td>
        </tr>
        <tr>
         <th>Cloth Size: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Eye Color: </th>
         <td>Basha </td>
        </tr>
        <tr>
         <th>Distinguishing Mark: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Blood Type: </th>
         <td>Basha </td>
        </tr>
        <tr>
         <th>Blood Pressure: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>TIN Number: </th>
         <td>Basha </td>
        </tr>
        <tr>
         <th>SSS Number: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>PAG-IBIG number: </th>
         <td>Basha </td>
        </tr>
        <tr>
         <th>Philhealth: </th>
         <td>Basha </td>
        </tr>

        <tr>
         <th>Father's Name: </th>
         <td>Basha </td>
        </tr>
        <tr>
         <th>Mother's Maiden Name: </th>
         <td>Basha </td>
       </tr>

       <tr>
         <th>Spouse Name: </th>
         <td>Basha </td>
        </tr>
        <tr>
         <th>Number of Children: </th>
         <td>Basha </td>
       </tr>

        <tr>
         <th>Are you a smoker? </th>
         <td>Basha </td>
        </tr>
        <tr>
         <th>Nearest Relative: </th>
         <td>Basha </td>
       </tr>

       <tr>
         <th>Relationship: </th>
         <td>Basha </td>
        </tr>
        <tr>
         <th>Address: </th>
         <td>Basha </td>
       </tr>
      </table>

      <h4>EDUCATIONAL ATTAINMENT</h4>
      <table class="table table-bordered" style="width: 100%;">
         <tr>
          <th>Year</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>School</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Course Finished</th>
          <td>Year</td>
         </tr>
      </table>

      <h4>LICENSES</h4>
      <table class="table table-bordered" style="width: 100%;">
         <tr>
          <th>Type</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Number</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Date Issued</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Expiry Date</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Issued By</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Actions</th>
          <td>Year</td>
         </tr>
      </table>

      <h4>CERTIFICATES</h4>
      <table class="table table-bordered" style="width: 100%;">
         <tr>
          <th>Type</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Number</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Date Issued</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Expiry Date</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Issued By</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Actions</th>
         </tr>
      </table>

      <h4>PERSONAL DOCUMENTS</h4>
      <table class="table table-bordered" style="width: 100%;">
         <tr>
          <th>Document Kind</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Number</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Date Issued</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Expiry Date</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Issued By</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Actions</th>
          <td>Year</td> 
         </tr>
      </table>

      <h4>EMPLOYMENT RECORDS</h4>
      <table class="table table-bordered" style="width: 100%;">
         <tr>
          <th>Vessel</th>
          <td>Year</td>
         </tr>
         <tr>
          <th>Flag</th>
          <td>School</td>
         </tr>
         <tr>
          <th>Type</th>
          <td>School</td>
         </tr>
         <tr>
          <th>Manning Agent</th>
          <td>School</td>
         </tr>
         <tr>
          <th>Rank</th>
          <td>School</td>
         </tr>
         <tr>
          <th>Sign On</th>
          <td>School</td>
         </tr>
         <tr>
          <th>Sign Off</th>
          <td>School</td>
         </tr>
         <tr>
          <th>Reason of Disembarkation</th>
          <td>School</td>
         </tr>

      </table>

      <h4>VESSEL EVALUATION</h4>
      <table class="table table-bordered" style="width: 100%;">
         <tr>
          <th>Vessel</th>
          <td>School</td>
         </tr>
         <tr>
          <th>Date of Evaluation</th>
          <td>School</td>
         </tr>
         <tr>
          <th>Actions</th>
          <td>School</td>
         </tr>
      </table>

      <h4>OFFICE EVALUATION</h4>
      <table class="table table-bordered" style="width: 100%;">
         <tr>
          <th>Vessel</th>
          <td>School</td>
         </tr>
         <tr>
          <th>Date of Evaluation</th>
          <td>School</td>
         </tr>
         <tr>
          <th>Actions</th>
          <td>School</td>
         </tr>
      </table>
    </div>
  </div>
</div>

</div>
